body, html{
  height:100%;
}
.swiper-container,
.swiper-wrapper,
.swiper-slide{
  width: 100%;
  height: 100%;
}
 .swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #1e1e1e;
   /* Center slide text vertically */
   display: flex;
   justify-content: center;
   align-items: center;
   
   &:nth-child(1){
     background: #1e1e1e;
   }
   &:nth-child(2){
     background: #FFE5D9;
   }
   &:nth-child(3){
     background: #FFCAD4;
   }
   &:nth-child(4){
     background: #F4ACB7;
   }
}
